// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #27ae60;
$background-grey: #2a2a2a;
$green: #23a49a;
$grey: #2a2a2a;
$light-grey: #808080;
$lighter-grey: #f7f7f7;

$font-family: 'Lato', sans-serif;